<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>EmailAccountDescription</key>
			<string>Gmail</string>
			<key>EmailAccountName</key>
			<string>Cameron Eagans</string>
			<key>EmailAccountType</key>
			<string>EmailTypeIMAP</string>
			<key>EmailAddress</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/username" }}</string>
			<key>IncomingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>IncomingMailServerHostName</key>
			<string>imap.gmail.com</string>
			<key>IncomingMailServerPortNumber</key>
			<integer>993</integer>
			<key>IncomingMailServerUseSSL</key>
			<true/>
			<key>IncomingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/username" }}</string>
			<key>IncomingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/password" }}</string>
			<key>OutgoingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>OutgoingMailServerHostName</key>
			<string>smtp.gmail.com</string>
			<key>OutgoingMailServerPortNumber</key>
			<integer>587</integer>
			<key>OutgoingMailServerUseSSL</key>
			<true/>
			<key>OutgoingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/username" }}</string>
			<key>OutgoingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/password" }}</string>
			<key>PayloadDisplayName</key>
			<string>Gmail</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.mail.managed.E603A843-79E5-447A-B51D-B5FC70F40120</string>
			<key>PayloadType</key>
			<string>com.apple.mail.managed</string>
			<key>PayloadUUID</key>
			<string>CEB0E00E-F09C-4ADC-9F3A-F9FC6F130E1D</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>EmailAccountDescription</key>
			<string>Personal</string>
			<key>EmailAccountName</key>
			<string>Cameron Eagans</string>
			<key>EmailAccountType</key>
			<string>EmailTypeIMAP</string>
			<key>EmailAddress</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - personal/username" }}</string>
			<key>IncomingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>IncomingMailServerHostName</key>
			<string>imap.migadu.com</string>
			<key>IncomingMailServerPortNumber</key>
			<integer>993</integer>
			<key>IncomingMailServerUseSSL</key>
			<true/>
			<key>IncomingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - personal/username" }}</string>
			<key>IncomingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - personal/password" }}</string>
			<key>OutgoingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>OutgoingMailServerHostName</key>
			<string>smtp.migadu.com</string>
			<key>OutgoingMailServerPortNumber</key>
			<integer>465</integer>
			<key>OutgoingMailServerUseSSL</key>
			<true/>
			<key>OutgoingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - personal/username" }}</string>
			<key>OutgoingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - personal/password" }}</string>
			<key>PayloadDisplayName</key>
			<string>Personal</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.mail.managed.8269CC86-E9C0-4C86-B7BE-FF20114D9D7A</string>
			<key>PayloadType</key>
			<string>com.apple.mail.managed</string>
			<key>PayloadUUID</key>
			<string>F19F1563-6F27-4D9F-9239-A6905E686548</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>EmailAccountDescription</key>
			<string>Pinecone Grove</string>
			<key>EmailAccountName</key>
			<string>Cameron Eagans</string>
			<key>EmailAccountType</key>
			<string>EmailTypeIMAP</string>
			<key>EmailAddress</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - pinecone grove/username" }}</string>
			<key>IncomingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>IncomingMailServerHostName</key>
			<string>imap.migadu.com</string>
			<key>IncomingMailServerPortNumber</key>
			<integer>993</integer>
			<key>IncomingMailServerUseSSL</key>
			<true/>
			<key>IncomingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - pinecone grove/username" }}</string>
			<key>IncomingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - pinecone grove/password" }}</string>
			<key>OutgoingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>OutgoingMailServerHostName</key>
			<string>smtp.migadu.com</string>
			<key>OutgoingMailServerPortNumber</key>
			<integer>465</integer>
			<key>OutgoingMailServerUseSSL</key>
			<true/>
			<key>OutgoingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - pinecone grove/username" }}</string>
			<key>OutgoingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - pinecone grove/password" }}</string>
			<key>PayloadDisplayName</key>
			<string>Pinecone Grove</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.mail.managed.492A687E-7CF2-47FD-974A-FCD08F21ABF2</string>
			<key>PayloadType</key>
			<string>com.apple.mail.managed</string>
			<key>PayloadUUID</key>
			<string>B9FEB387-5B83-442B-92FB-1391B2D300E2</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>EmailAccountDescription</key>
			<string>Eagans Foundation</string>
			<key>EmailAccountName</key>
			<string>Cameron Eagans</string>
			<key>EmailAccountType</key>
			<string>EmailTypeIMAP</string>
			<key>EmailAddress</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - eagans foundation/username" }}</string>
			<key>IncomingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>IncomingMailServerHostName</key>
			<string>imap.migadu.com</string>
			<key>IncomingMailServerPortNumber</key>
			<integer>993</integer>
			<key>IncomingMailServerUseSSL</key>
			<true/>
			<key>IncomingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - eagans foundation/username" }}</string>
			<key>IncomingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - eagans foundation/password" }}</string>
			<key>OutgoingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>OutgoingMailServerHostName</key>
			<string>smtp.migadu.com</string>
			<key>OutgoingMailServerPortNumber</key>
			<integer>587</integer>
			<key>OutgoingMailServerUseSSL</key>
			<true/>
			<key>OutgoingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - eagans foundation/username" }}</string>
			<key>OutgoingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - eagans foundation/password" }}</string>
			<key>PayloadDisplayName</key>
			<string>Eagans Foundation</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.mail.managed.A601039F-3A15-40E2-8301-AD7AB7DDAFEE</string>
			<key>PayloadType</key>
			<string>com.apple.mail.managed</string>
			<key>PayloadUUID</key>
			<string>A601039F-3A15-40E2-8301-AD7AB7DDAFEE</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>PreventAppSheet</key>
			<true/>
		</dict>
		<dict>
			<key>EmailAccountDescription</key>
			<string>Boise Wedding Signs</string>
			<key>EmailAccountName</key>
			<string>Cameron Eagans</string>
			<key>EmailAccountType</key>
			<string>EmailTypeIMAP</string>
			<key>EmailAddress</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - boise wedding signs/username" }}</string>
			<key>IncomingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>IncomingMailServerHostName</key>
			<string>imap.migadu.com</string>
			<key>IncomingMailServerPortNumber</key>
			<integer>993</integer>
			<key>IncomingMailServerUseSSL</key>
			<true/>
			<key>IncomingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - boise wedding signs/username" }}</string>
			<key>IncomingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - boise wedding signs/password" }}</string>
			<key>OutgoingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>OutgoingMailServerHostName</key>
			<string>smtp.migadu.com</string>
			<key>OutgoingMailServerPortNumber</key>
			<integer>587</integer>
			<key>OutgoingMailServerUseSSL</key>
			<true/>
			<key>OutgoingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - boise wedding signs/username" }}</string>
			<key>OutgoingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/migadu - boise wedding signs/password" }}</string>
			<key>PayloadDisplayName</key>
			<string>Boise Wedding Signs</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.mail.managed.C3414546-7689-4D52-A560-1253D4BF5190</string>
			<key>PayloadType</key>
			<string>com.apple.mail.managed</string>
			<key>PayloadUUID</key>
			<string>C3414546-7689-4D52-A560-1253D4BF5190</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>PreventAppSheet</key>
			<true/>
		</dict>
		<dict>
			<key>EmailAccountDescription</key>
			<string>Swirlds Labs</string>
			<key>EmailAccountName</key>
			<string>Cameron Eagans</string>
			<key>EmailAccountType</key>
			<string>EmailTypeIMAP</string>
			<key>EmailAddress</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/username" }}</string>
			<key>IncomingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>IncomingMailServerHostName</key>
			<string>imap.gmail.com</string>
			<key>IncomingMailServerPortNumber</key>
			<integer>993</integer>
			<key>IncomingMailServerUseSSL</key>
			<true/>
			<key>IncomingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/username" }}</string>
			<key>IncomingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/password" }}</string>
			<key>OutgoingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>OutgoingMailServerHostName</key>
			<string>smtp.gmail.com</string>
			<key>OutgoingMailServerPortNumber</key>
			<integer>587</integer>
			<key>OutgoingMailServerUseSSL</key>
			<true/>
			<key>OutgoingMailServerUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/username" }}</string>
			<key>OutgoingPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/password" }}</string>
			<key>PayloadDisplayName</key>
			<string>Swirlds Labs</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.mail.managed.C7C5107D-96A4-48D0-B7EE-D1AF6AEE93ED</string>
			<key>PayloadType</key>
			<string>com.apple.mail.managed</string>
			<key>PayloadUUID</key>
			<string>C7C5107D-96A4-48D0-B7EE-D1AF6AEE93ED</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PayloadDisplayName</key>
			<string>macOS Time Synchronization Daemon</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.timed.628E63E0-E2FB-47A9-B8D0-9CCC55D19D98</string>
			<key>PayloadType</key>
			<string>com.apple.timed</string>
			<key>PayloadUUID</key>
			<string>628E63E0-E2FB-47A9-B8D0-9CCC55D19D98</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>TMAutomaticTimeOnlyEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>DoNotOfferNewDisksForBackup</key>
			<true/>
			<key>PayloadDisplayName</key>
			<string>Time Machine</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.TimeMachine.E83291F6-153D-4B93-87A1-8D8E714D3882</string>
			<key>PayloadType</key>
			<string>com.apple.TimeMachine</string>
			<key>PayloadUUID</key>
			<string>E83291F6-153D-4B93-87A1-8D8E714D3882</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>EncryptionType</key>
			<string>Any</string>
			<key>Password</key>
			<string>{{ onepasswordRead "op://Chezmoi/Home WiFi/password" }}</string>
			<key>PayloadDisplayName</key>
			<string>Home</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.wifi.managed.CFDD77C0-3F2C-4119-B986-59E434097964</string>
			<key>PayloadType</key>
			<string>com.apple.wifi.managed</string>
			<key>PayloadUUID</key>
			<string>CFDD77C0-3F2C-4119-B986-59E434097964</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>SSID_STR</key>
			<string>{{ onepasswordRead "op://Chezmoi/Home WiFi/username" }}</string>
		</dict>
		<dict>
			<key>AirPrint</key>
			<array>
				<dict>
					<key>ForceTLS</key>
					<false/>
					<key>IPAddress</key>
					<string>printer.internal.cweagans.net</string>
					<key>Port</key>
					<integer>631</integer>
					<key>ResourcePath</key>
					<string>ipp/print</string>
				</dict>
			</array>
			<key>PayloadDisplayName</key>
			<string>AirPrint</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.airprint.8BE1AED6-EBE2-4575-8360-4578FBFADCE9</string>
			<key>PayloadType</key>
			<string>com.apple.airprint</string>
			<key>PayloadUUID</key>
			<string>8BE1AED6-EBE2-4575-8360-4578FBFADCE9</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PayloadDisplayName</key>
			<string>Ad Tracking</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.AdLib.931F5838-DC1D-48CD-B501-1B22DCB032DA</string>
			<key>PayloadType</key>
			<string>com.apple.AdLib</string>
			<key>PayloadUUID</key>
			<string>931F5838-DC1D-48CD-B501-1B22DCB032DA</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>forceLimitAdTracking</key>
			<true/>
		</dict>
		<dict>
			<key>PayloadDisplayName</key>
			<string>Dock</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.dock.2237EC13-3900-4079-B504-1214BC864190</string>
			<key>PayloadType</key>
			<string>com.apple.dock</string>
			<key>PayloadUUID</key>
			<string>2237EC13-3900-4079-B504-1214BC864190</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>autohide</key>
			<true/>
			<key>autohide-immutable</key>
			<true/>
			<key>largesize</key>
			<integer>50</integer>
			<key>launchanim-immutable</key>
			<true/>
			<key>magnification</key>
			<true/>
			<key>magnify-immutable</key>
			<true/>
			<key>magsize-immutable</key>
			<true/>
			<key>mineffect</key>
			<string>Genie Effect</string>
			<key>mineffect-immutable</key>
			<true/>
			<key>minimize-to-application</key>
			<false/>
			<key>minintoapp-immutable</key>
			<true/>
			<key>orientation</key>
			<string>bottom</string>
			<key>position-immutable</key>
			<true/>
			<key>show-recents</key>
			<false/>
			<key>size-immutable</key>
			<true/>
			<key>static-apps</key>
			<array>
				<dict>
					<key>tile-data</key>
					<dict>
						<key>file-data</key>
						<dict>
							<key>_CFURLString</key>
							<string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
							<key>_CFURLStringType</key>
							<integer>15</integer>
						</dict>
						<key>file-label</key>
						<string>Safari</string>
						<key>file-type</key>
						<integer>1</integer>
						<key>label</key>
						<string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
					</dict>
					<key>tile-type</key>
					<string>file-tile</string>
				</dict>
				<dict>
					<key>tile-data</key>
					<dict>
						<key>file-data</key>
						<dict>
							<key>_CFURLString</key>
							<string>file:///Applications/WezTerm.app/</string>
							<key>_CFURLStringType</key>
							<integer>15</integer>
						</dict>
						<key>file-label</key>
						<string>WezTerm</string>
						<key>file-type</key>
						<integer>1</integer>
						<key>label</key>
						<string>file:///Applications/WezTerm.app/</string>
					</dict>
					<key>tile-type</key>
					<string>file-tile</string>
				</dict>
				<dict>
					<key>tile-data</key>
					<dict>
						<key>file-data</key>
						<dict>
							<key>_CFURLString</key>
							<string>file:///System/Applications/Mail.app/</string>
							<key>_CFURLStringType</key>
							<integer>15</integer>
						</dict>
						<key>file-label</key>
						<string>Mail</string>
						<key>file-type</key>
						<integer>1</integer>
						<key>label</key>
						<string>file:///System/Applications/Mail.app/</string>
					</dict>
					<key>tile-type</key>
					<string>file-tile</string>
				</dict>
				<dict>
					<key>tile-data</key>
					<dict>
						<key>file-data</key>
						<dict>
							<key>_CFURLString</key>
							<string>file:///System/Applications/Calendar.app/</string>
							<key>_CFURLStringType</key>
							<integer>15</integer>
						</dict>
						<key>file-label</key>
						<string>Calendar</string>
						<key>file-type</key>
						<integer>1</integer>
						<key>label</key>
						<string>file:///System/Applications/Calendar.app/</string>
					</dict>
					<key>tile-type</key>
					<string>file-tile</string>
				</dict>
				<dict>
					<key>tile-data</key>
					<dict>
						<key>file-data</key>
						<dict>
							<key>_CFURLString</key>
							<string>file:///System/Applications/Messages.app/</string>
							<key>_CFURLStringType</key>
							<integer>15</integer>
						</dict>
						<key>file-label</key>
						<string>Messages</string>
						<key>file-type</key>
						<integer>1</integer>
						<key>label</key>
						<string>file:///System/Applications/Messages.app/</string>
					</dict>
					<key>tile-type</key>
					<string>file-tile</string>
				</dict>
			</array>
			<key>static-others</key>
			<array>
				<dict>
					<key>tile-data</key>
					<dict>
						<key>arrangement</key>
						<integer>2</integer>
						<key>displayas</key>
						<integer>1</integer>
						<key>file-data</key>
						<dict>
							<key>_CFURLString</key>
							<string>file://{{ .chezmoi.homeDir }}/Downloads</string>
							<key>_CFURLStringType</key>
							<integer>15</integer>
						</dict>
						<key>file-label</key>
						<string>Downloads</string>
						<key>file-type</key>
						<integer>3</integer>
					</dict>
					<key>tile-type</key>
					<string>directory-tile</string>
				</dict>
			</array>
			<key>tilesize</key>
			<integer>36</integer>
			<key>wvous-tl-corner</key>
			<integer>2</integer>
			<key>wvous-tl-modifier</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>AppleShowAllFiles</key>
			<true/>
			<key>FXDefaultSearchScope</key>
			<string>SCcf</string>
			<key>FXEnableExtensionChangeWarning</key>
			<false/>
			<key>FXPreferredViewStyle</key>
			<string>Nlsv</string>
			<key>NewWindowTarget</key>
			<string>PfHm</string>
			<key>PayloadDisplayName</key>
			<string>Finder</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.finder.6D0BD4E7-C580-4407-A9F1-EDC9E7833103</string>
			<key>PayloadType</key>
			<string>com.apple.finder</string>
			<key>PayloadUUID</key>
			<string>6D0BD4E7-C580-4407-A9F1-EDC9E7833103</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>ShowMountedServersOnDesktop</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>_FXSortFoldersFirst</key>
			<true/>
			<key>_FXSortFoldersFirstOnDesktop</key>
			<true/>
		</dict>
		<dict>
			<key>AutoLaunchedApplicationDictionary-managed</key>
			<array>
				<dict>
					<key>AuthenticateAsLoginUserShortName</key>
					<false/>
					<key>Hide</key>
					<true/>
					<key>Path</key>
					<string>/Applications/Hammerspoon.app</string>
				</dict>
				<dict>
					<key>AuthenticateAsLoginUserShortName</key>
					<false/>
					<key>Hide</key>
					<true/>
					<key>Path</key>
					<string>/Applications/Setapp/Elephas.app</string>
				</dict>
				<dict>
					<key>AuthenticateAsLoginUserShortName</key>
					<false/>
					<key>Hide</key>
					<true/>
					<key>Path</key>
					<string>/Applications/Setapp/Dato.app</string>
				</dict>
				<dict>
					<key>AuthenticateAsLoginUserShortName</key>
					<false/>
					<key>Hide</key>
					<true/>
					<key>Path</key>
					<string>/Applications/Setapp/Lungo.app</string>
				</dict>
				<dict>
					<key>AuthenticateAsLoginUserShortName</key>
					<false/>
					<key>Hide</key>
					<true/>
					<key>Path</key>
					<string>/Applications/Setapp/Bartender.app</string>
				</dict>
				<dict>
					<key>AuthenticateAsLoginUserShortName</key>
					<false/>
					<key>Hide</key>
					<true/>
					<key>Path</key>
					<string>/Applications/Setapp/CleanShot X.app</string>
				</dict>
			</array>
			<key>PayloadDisplayName</key>
			<string>Login Items</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.loginitems.managed.16183561-BEEC-436E-AB89-2730EF39703E</string>
			<key>PayloadType</key>
			<string>com.apple.loginitems.managed</string>
			<key>PayloadUUID</key>
			<string>16183561-BEEC-436E-AB89-2730EF39703E</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>GKAutoRearm</key>
			<false/>
			<key>PayloadDisplayName</key>
			<string>Security</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.security.8157922D-04B5-4390-98B0-0850A854F9BB</string>
			<key>PayloadType</key>
			<string>com.apple.security</string>
			<key>PayloadUUID</key>
			<string>8157922D-04B5-4390-98B0-0850A854F9BB</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>AppleShowAllExtensions</key>
			<true/>
			<key>AppleShowScrollBars</key>
			<string>Automatic</string>
			<key>NSDocumentSaveNewDocumentsToCloud</key>
			<false/>
			<key>PayloadDisplayName</key>
			<string>Global Preferences</string>
			<key>PayloadIdentifier</key>
			<string>.GlobalPreferences.9F9AC3E0-8488-46B3-A6CC-516EE17849CB</string>
			<key>PayloadType</key>
			<string>.GlobalPreferences</string>
			<key>PayloadUUID</key>
			<string>9F9AC3E0-8488-46B3-A6CC-516EE17849CB</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PayloadDisplayName</key>
			<string>Spotlight</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.Spotlight.26680A05-DB1B-443F-859E-08DF5A213D81</string>
			<key>PayloadType</key>
			<string>com.apple.Spotlight</string>
			<key>PayloadUUID</key>
			<string>26680A05-DB1B-443F-859E-08DF5A213D81</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>orderedItems</key>
			<array>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>APPLICATIONS</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>SYSTEM_PREFS</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>MENU_EXPRESSION</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>MENU_CONVERSION</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>MENU_DEFINITION</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>DIRECTORIES</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>DOCUMENTS</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>FONTS</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>IMAGES</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>MOVIES</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>MUSIC</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>MENU_OTHER</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>PDF</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>PRESENTATIONS</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>name</key>
					<string>SPREADSHEETS</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>AutoSubmit</key>
			<true/>
			<key>PayloadDisplayName</key>
			<string>Submit Diagnostic Information</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.SubmitDiagInfo.D959D9E7-C085-4899-B3ED-F316E8697DE0</string>
			<key>PayloadType</key>
			<string>com.apple.SubmitDiagInfo</string>
			<key>PayloadUUID</key>
			<string>D959D9E7-C085-4899-B3ED-F316E8697DE0</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PayloadDisplayName</key>
			<string>System Preferences: Security</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.preference.security.0A9AB877-1652-4DEF-95B7-133DAD7930DE</string>
			<key>PayloadType</key>
			<string>com.apple.preference.security</string>
			<key>PayloadUUID</key>
			<string>0A9AB877-1652-4DEF-95B7-133DAD7930DE</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>dontAllowLockMessageUI</key>
			<true/>
		</dict>
		<dict>
			<key>BKAlreadyDisplayedGDPRWelcomeExperience</key>
			<true/>
			<key>PayloadDisplayName</key>
			<string>iBooks #1</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.iBooksX.2A1D2F6D-8926-4BB6-BC03-BC497DC06D6A</string>
			<key>PayloadType</key>
			<string>com.apple.iBooksX</string>
			<key>PayloadUUID</key>
			<string>2A1D2F6D-8926-4BB6-BC03-BC497DC06D6A</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PayloadDisplayName</key>
			<string>GarageBand</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.garageband10.E76CFAFC-0011-4DFD-B885-87B47037B760</string>
			<key>PayloadType</key>
			<string>com.apple.garageband10</string>
			<key>PayloadUUID</key>
			<string>E76CFAFC-0011-4DFD-B885-87B47037B760</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>welcomeScreenShown</key>
			<true/>
		</dict>
		<dict>
			<key>AutoFillCreditCardData</key>
			<false/>
			<key>AutoFillFromAddressBook</key>
			<true/>
			<key>AutoFillMiscellaneousForms</key>
			<false/>
			<key>AutoFillPasswords</key>
			<false/>
			<key>AutoOpenSafeDownloads</key>
			<false/>
			<key>BookmarksCollectionsIncludeAddressBook</key>
			<false/>
			<key>BookmarksCollectionsIncludeRendezvous</key>
			<false/>
			<key>CanPromptForPushNotifications</key>
			<false/>
			<key>DefaultBrowserPromptingState2</key>
			<integer>1</integer>
			<key>DefaultBrowserPromptingState3</key>
			<integer>2</integer>
			<key>DidShowWhatsNewInSafari</key>
			<true/>
			<key>DownloadsClearingPolicy</key>
			<integer>0</integer>
			<key>HistoryAgeInDaysLimit</key>
			<integer>365000</integer>
			<key>HomePage</key>
			<string>topsites:///</string>
			<key>IncludeDevelopMenu</key>
			<true/>
			<key>NewTabBehavior</key>
			<integer>1</integer>
			<key>OpenNewTabsInFront</key>
			<false/>
			<key>PayloadDisplayName</key>
			<string>Safari</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.Safari.C93459F5-51C2-4A85-AFE8-2027818FA3A7</string>
			<key>PayloadType</key>
			<string>com.apple.Safari</string>
			<key>PayloadUUID</key>
			<string>126E1253-F356-4E2E-B8FF-23D536BE2B4D</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>TabCreationPolicy</key>
			<integer>1</integer>
			<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaEnabled</key>
			<false/>
		</dict>
		<dict>
			<key>PayloadDisplayName</key>
			<string>Siri</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.Siri.00E20356-4D3B-4472-9520-C8F3925FB231</string>
			<key>PayloadType</key>
			<string>com.apple.Siri</string>
			<key>PayloadUUID</key>
			<string>00E20356-4D3B-4472-9520-C8F3925FB231</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>StatusMenuVisible</key>
			<false/>
			<key>UserHasDeclinedEnable</key>
			<true/>
		</dict>
		<dict>
			<key>CheckGrammarWithSpelling</key>
			<true/>
			<key>CheckSpellingWhileTyping</key>
			<true/>
			<key>CorrectSpellingAutomatically</key>
			<false/>
			<key>HeightInChars</key>
			<integer>60</integer>
			<key>PayloadDisplayName</key>
			<string>TextEdit</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.TextEdit.6D0570F2-08BA-4F0B-B75A-2FA563E942A4</string>
			<key>PayloadType</key>
			<string>com.apple.TextEdit</string>
			<key>PayloadUUID</key>
			<string>6D0570F2-08BA-4F0B-B75A-2FA563E942A4</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>RichText</key>
			<integer>0</integer>
			<key>SmartLinks</key>
			<false/>
			<key>SmartQuotes</key>
			<false/>
			<key>SmartSubstitutionsEnabledInRichTextOnly</key>
			<false/>
			<key>WidthInChars</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>PayloadDisplayName</key>
			<string>iTunes #1</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.iTunes.2CEFD200-4CF9-4633-9B71-464F801FC94F</string>
			<key>PayloadType</key>
			<string>com.apple.iTunes</string>
			<key>PayloadUUID</key>
			<string>2CEFD200-4CF9-4633-9B71-464F801FC94F</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>license-agreements</key>
			<dict>
				<key>EA1510</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>CalDAVAccountDescription</key>
			<string>Gmail</string>
			<key>CalDAVHostName</key>
			<string>calendar.google.com</string>
			<key>CalDAVPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/password" }}</string>
			<key>CalDAVPort</key>
			<integer>443</integer>
			<key>CalDAVPrincipalURL</key>
			<string>https://calendar.google.com/calendar/dav/{{ onepasswordRead "op://Chezmoi/macos - gmail app password/username" }}/user/</string>
			<key>CalDAVUseSSL</key>
			<true/>
			<key>CalDAVUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/username" }}</string>
			<key>PayloadDisplayName</key>
			<string>Gmail</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.caldav.account.27D19977-6285-4FBA-9E66-FE3D5A926170</string>
			<key>PayloadType</key>
			<string>com.apple.caldav.account</string>
			<key>PayloadUUID</key>
			<string>27D19977-6285-4FBA-9E66-FE3D5A926170</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CalDAVAccountDescription</key>
			<string>Personal</string>
			<key>CalDAVHostName</key>
			<string>calendar.google.com</string>
			<key>CalDAVPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - personal app password/password" }}</string>
			<key>CalDAVPort</key>
			<integer>443</integer>
			<key>CalDAVPrincipalURL</key>
			<string>https://calendar.google.com/calendar/dav/{{ onepasswordRead "op://Chezmoi/macos - personal app password/username" }}/user/</string>
			<key>CalDAVUseSSL</key>
			<true/>
			<key>CalDAVUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - personal app password/username" }}</string>
			<key>PayloadDisplayName</key>
			<string>Personal</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.caldav.account.EEC1BA1C-F7A9-4A60-A574-FDE1B1EFC353</string>
			<key>PayloadType</key>
			<string>com.apple.caldav.account</string>
			<key>PayloadUUID</key>
			<string>EEC1BA1C-F7A9-4A60-A574-FDE1B1EFC353</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CalDAVAccountDescription</key>
			<string>Swirlds Labs</string>
			<key>CalDAVHostName</key>
			<string>calendar.google.com</string>
			<key>CalDAVPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/password" }}</string>
			<key>CalDAVPort</key>
			<integer>443</integer>
			<key>CalDAVPrincipalURL</key>
			<string>https://calendar.google.com/calendar/dav/{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/username" }}/user/</string>
			<key>CalDAVUseSSL</key>
			<true/>
			<key>CalDAVUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/username" }}</string>
			<key>PayloadDisplayName</key>
			<string>Swirlds Labs</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.caldav.account.F211E16A-C5C9-48CC-8EDC-D89EDCEF0185</string>
			<key>PayloadType</key>
			<string>com.apple.caldav.account</string>
			<key>PayloadUUID</key>
			<string>F211E16A-C5C9-48CC-8EDC-D89EDCEF0185</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CardDAVAccountDescription</key>
			<string>Gmail</string>
			<key>CardDAVHostName</key>
			<string>www.googleapis.com</string>
			<key>CardDAVPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/password" }}</string>
			<key>CardDAVPort</key>
			<integer>443</integer>
			<key>CardDAVPrincipalURL</key>
			<string>https://www.googleapis.com/carddav/v1/principals/{{ onepasswordRead "op://Chezmoi/macos - gmail app password/username" }}/lists/default/</string>
			<key>CardDAVUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - gmail app password/username" }}</string>
			<key>PayloadDisplayName</key>
			<string>Gmail</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.carddav.account.30622F9D-2283-4B3E-BAF5-F76CB2EE8865</string>
			<key>PayloadType</key>
			<string>com.apple.carddav.account</string>
			<key>PayloadUUID</key>
			<string>30622F9D-2283-4B3E-BAF5-F76CB2EE8865</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CardDAVAccountDescription</key>
			<string>Swirlds Labs</string>
			<key>CardDAVHostName</key>
			<string>www.googleapis.com</string>
			<key>CardDAVPassword</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/password" }}</string>
			<key>CardDAVPort</key>
			<integer>443</integer>
			<key>CardDAVPrincipalURL</key>
			<string>https://www.googleapis.com/carddav/v1/principals/{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/username" }}/lists/default/</string>
			<key>CardDAVUsername</key>
			<string>{{ onepasswordRead "op://Chezmoi/macos - swirldslabs app password/username" }}</string>
			<key>PayloadDisplayName</key>
			<string>Swirlds Labs</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.carddav.account.B8573C43-E06E-4FBA-9C81-0C63FC5BA5FB</string>
			<key>PayloadType</key>
			<string>com.apple.carddav.account</string>
			<key>PayloadUUID</key>
			<string>B8573C43-E06E-4FBA-9C81-0C63FC5BA5FB</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>DSDontWriteNetworkStores</key>
			<true/>
			<key>PayloadDisplayName</key>
			<string>Desktop Services</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.desktopservices.7C4040D0-016D-49B3-A9B9-3CB3C21A4A9F</string>
			<key>PayloadType</key>
			<string>com.apple.ManagedClient.preferences</string>
			<key>PayloadUUID</key>
			<string>7C4040D0-016D-49B3-A9B9-3CB3C21A4A9F</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>Configures many macOS settings.</string>
	<key>PayloadDisplayName</key>
	<string>macOS Configuration</string>
	<key>PayloadIdentifier</key>
	<string>net.cweagans.macos</string>
	<key>PayloadOrganization</key>
	<string>cweagans.net</string>
	<key>PayloadScope</key>
	<string>User</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>0BB6947A-BA45-4D35-B5E2-C3B40320A35E</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
	<key>TargetDeviceType</key>
	<integer>5</integer>
</dict>
</plist>
