[Unit]
Description=Flush msmtp queue
After=keyring.target network.target
ConditionPathExistsGlob=%h/.local/share/mail.queue/*.mail

[Service]
Type=oneshot
ExecStart=%h/bin/msmtpq-flush

[Install]
Also=msmtp-queue.path
