<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dineshchikkanna.alfred.gcp</string>
	<key>connections</key>
	<dict>
		<key>43DD3337-3CC5-4044-B090-6D428AC975D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B2C4A00-09E5-472C-84C9-ABC4017DBA62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5662F993-7904-432A-B4CA-F821EF8C366F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC4D2904-D8A6-4A01-84DD-96F8FDADB35D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43DD3337-3CC5-4044-B090-6D428AC975D9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>{query}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA68F9C9-2737-4EEC-830E-D5AB16EBADE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5662F993-7904-432A-B4CA-F821EF8C366F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dinesh Chikkanna</string>
	<key>description</key>
	<string>A workflow to quickly open GCP services in your browser or search resources with ease.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Cloud Platform(GCP)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DC4D2904-D8A6-4A01-84DD-96F8FDADB35D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BA68F9C9-2737-4EEC-830E-D5AB16EBADE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>gcp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>./alfred-gcp-workflow --query="{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>e.g., sql, memorystore, storage</string>
				<key>title</key>
				<string>Search for a GCP Service...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5662F993-7904-432A-B4CA-F821EF8C366F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B2C4A00-09E5-472C-84C9-ABC4017DBA62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>43DD3337-3CC5-4044-B090-6D428AC975D9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred GCP Workflow

An Alfred workflow to quickly open GCP services in your browser or search GCP resources with ease.

More info visit: https://github.com/dineshgowda24/alfred-gcp-workflow</string>
	<key>uidata</key>
	<dict>
		<key>1B2C4A00-09E5-472C-84C9-ABC4017DBA62</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>43DD3337-3CC5-4044-B090-6D428AC975D9</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>5662F993-7904-432A-B4CA-F821EF8C366F</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>BA68F9C9-2737-4EEC-830E-D5AB16EBADE8</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>DC4D2904-D8A6-4A01-84DD-96F8FDADB35D</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>ALFRED_GCP_WORKFLOW_CACHE_TTL_SECONDS</key>
		<string>604800</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/dineshgowda24/alfred-gcp-workflow</string>
</dict>
</plist>
