{{/* Reason: This had legacy bitwarden setup info in it */}}
~/.config/sd/df/.common.bash

{{/* Reason: no longer using yubikey for things */}}
~/.config/sd/yk

{{/* Reason: moved to ~/.config/zsh/config/zzz_aliases.zsh to make sure it is evaluated last */}}
~/.config/zsh/conf/aliases.zsh

{{/* Reason: migrated to atuin */}}
~/.config/zsh/conf/history.zsh

{{/* Reason: migrated to catppuccin */}}
~/.config/nvim/lua/plugins/dracula.lua

{{/* Reason: migrated to Noir.app */}}
~/.config/tamperish

{{/* Reason: migrated to declarative packages in .chezmoidata */}}
~/.Brewfile
