[user]
  email = me@cweagans.net
  name = Cameron Eagans
  signingkey = "key::ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJzYuWMD/bf+ZvMLM47oeW2Z1tBZu5QK4Z9jpOkeDCORMy2UaoQCV89JBVcpCrTD3sYYJWirep2d3vFRTTNSRwQ= PIV AUTH pubkey"

[github]
  user = cweagans

[core]
  ignorecase = false
  compression = 9
  excludesfile = ~/.gitignore_global
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[apply]
  whitespace = nowarn

[branch]
  autosetuprebase = always

[color "interactive"]
  error = red bold

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  frag = magenta
  meta = yellow
  new = green
  old = red
  whitespace = white reverse

[color "status"]
  added = yellow
  branch = magenta
  changed = green
  untracked = cyan

[diff]
  algorithm = patience
  tool = default-difftool

[gitflow "prefix"]
  feature = feature-
  release = release-
  hotfix = hotfix-
  support = support-
  versiontag = v

[push]
	default = current

[rebase]
  autostash = true

[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[ghq]
	root = /Users/cweagans/Code

[ghq "gitea.internal.cweagans.net"]
	vcs = git
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/cweagans/.ssh/allowed_signers
