tap "drud/ddev"
tap "homebrew/bundle"
tap "homebrew/services"

brew "act"
brew "actionlint"
brew "age"
brew "ansible-lint"
brew "ansible"
brew "bat"
brew "black"
brew "chezmoi"
brew "choose"
brew "colima"
brew "coreutils"
brew "direnv"
brew "docker-compose"
brew "docker"
brew "fzf"
brew "gh"
brew "ghq"
brew "git-delta"
brew "git-flow"
brew "git"
brew "glow"
brew "go-task"
brew "go"
brew "gopls"
brew "grpcurl"
brew "httpie"
brew "imapfilter"
brew "jq"
brew "lazygit"
brew "lsd"
brew "lua-language-server"
brew "lua"
brew "luacheck"
brew "luarocks"
brew "mas"
brew "mkcert"
brew "mysql-client"
brew "neovim"
brew "node"
brew "nss"
brew "openssh"
brew "pre-commit"
brew "protobuf"
brew "protoc-gen-go-grpc"
brew "protoc-gen-go"
brew "pygments"
brew "python@3.10"
brew "qemu"
brew "ripgrep"
brew "rustup-init"
brew "telnet"
brew "terraform-ls"
brew "terraform"
brew "trash"
brew "tree"
brew "watch"
brew "watchexec"
brew "wget"
brew "yq"
brew "zoxide"

cask "1password"
cask "1password-cli"
cask "chromium"
cask "elgato-camera-hub"
cask "elgato-stream-deck"
cask "hammerspoon"
cask "hex-fiend"
cask "ledger-live"
cask "logi-options-plus"
cask "ngrok"
cask "setapp"
cask "wezterm"
cask "zoom"

mas "1Password for Safari", id: 1569813296
mas "AdGuard for Safari", id: 1440147259
mas "Bear", id: 1091189122
mas "GoodNotes", id: 1444383602
mas "iMazing Profile Editor", id: 1487860882
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Slack", id: 803453959
mas "Tailscale", id: 1475387142
mas "Tamperish", id: 1516885392
mas "Xcode", id: 497799835

{{ if eq .mode "personal" }}
tap "drud/ddev"

brew "php"
brew "composer"
brew "drud/ddev/ddev"
brew "hugo"

cask "discord"
cask "musescore"
cask "nvidia-geforce-now"
cask "obs"
cask "saleae-logic"
cask "scrivener"
cask "signal"
cask "steam"
cask "transmit"
cask "vlc"

mas "Affinity Designer", id: 824171161
mas "Affinity Photo", id: 824183456
mas "Affinity Publisher", id: 881418622
mas "Compressor", id: 424390742
mas "Final Cut Pro", id: 424389933
mas "GarageBand", id: 682658836
mas "Logic Pro", id: 634148309
mas "MainStage", id: 634159523
mas "Motion", id: 434290957
mas "Pixelmator", id: 407963104
mas "Vectornator Pro", id: 1470168007
{{ end }}

{{ if eq .mode "work" }}
brew "awscli"
brew "azure-cli"

cask "google-cloud-sdk"
{{ end }}
