<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.homebrew.ssh-agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		{{ if eq .chezmoi.arch "arm64" }}
		<string>rm {{ .chezmoi.homeDir }}/.ssh/agent.sock; /opt/homebrew/bin/ssh-agent -D -a {{ .chezmoi.homeDir }}/.ssh/agent.sock</string>
		{{ end }}
		{{ if eq .chezmoi.arch "amd64" }}
		<string>rm {{ .chezmoi.homeDir }}/.ssh/agent.sock; /usr/local/bin/ssh-agent -D -a {{ .chezmoi.homeDir }}/.ssh/agent.sock</string>
		{{ end }}
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
