"*":
  core:
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "behave-theme"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "f209273f-f375-0b58-9374-f676a07eb88e"
  "file-icons":
    coloured: false
    tabPaneIcon: false
  linter:
    ignoreVCSIgnoredFiles: false
  "linter-retext":
    grammars: [
      "markdown"
      "md"
      "github-markdown"
    ]
  "linter-write-good":
    severityLevel: "Info"
  minimap:
    scrollAnimation: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui":
    fontSize: 12
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "php-integrator-navigation":
    navigationRequireAltKey: false
    navigationRequireCtrlKey: true
  "tree-view": {}
  "vim-mode-plus":
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseDirty: true
    neverCloseUnsaved: true
