{
	"label": "Hammerspoon",
	"restart": "killall Hammerspoon",
	"values": {
		// Put hammerspoon config in .config where it belongs
		"MJConfigFile": "{{ .chezmoi.homeDir }}/.config/hammerspoon/init.lua"
	}
}
