#!/bin/zsh

echo "If prompted for a password, it's for managing /etc/paths.d/200-{{ .chezmoi.username }}"

function ensurePath {
    newPath=$1
    if ! cat /etc/paths.d/200-{{ .chezmoi.username }} | grep "$newPath" >> /dev/null; then
        echo -n "Adding new path: "
        echo $newPath | sudo tee -a /etc/paths.d/200-{{ .chezmoi.username }}
    fi
}

[ -f "/etc/paths.d/200-{{ .chezmoi.username }}" ] || sudo touch /etc/paths.d/200-{{ .chezmoi.username }}

{{ if eq .chezmoi.arch "arm64" }}
ensurePath {{ output "/opt/homebrew/bin/brew" "--prefix" | trim }}/bin
ensurePath {{ output "/opt/homebrew/bin/brew" "--prefix" | trim }}/opt/trash/bin
{{ end }}
{{ if eq .chezmoi.arch "amd64" }}
ensurePath {{ output "/usr/local/bin/brew" "--prefix" | trim }}/bin
ensurePath {{ output "/usr/local/bin/brew" "--prefix" | trim }}/opt/trash/bin
{{ end }}

ensurePath {{ .chezmoi.homeDir }}/bin

{{ if eq .mode "work" }}
ensurePath /Library/Java/JavaVirtualMachines/temurin-21.jdk/Contents/Home/bin
{{ end }}

# Re-evaluate /etc/paths rules, then tell launchctl to use the new path.
eval $(/usr/libexec/path_helper -s)
launchctl setenv PATH $PATH
sudo launchctl config user path $PATH
echo
echo "You don't actually need to reboot. Ignore the message above"
echo

# Finally, restart Finder and Spotlight to pick up the new paths for launching GUI apps.
killall Finder
killall Spotlight
