#!/bin/zsh

echo "Disable the following VS Code extensions if present (they are enabled only in workspaces where they are needed), then come back here and press enter:"
echo "C/C++\nDart\nFlutter\nGo Asm\nHammerspoon\nHashiCorp HCL\nHashiCorp Terraform\nLua\nPHP Debug\nPHP Intelephense\nPlatformIO IDE\nrust-analyzer\nTinyGo"
read

echo "VS Code post install tasks:"
echo "1. Log in to all GitHub extensions"
echo "2. Temporarily enable Intelephense and enter the license key (use command palette)"
read
