#!/bin/zsh

echo "If prompted for a password, it's for managing /etc/paths.d/200-{{ .chezmoi.username }}"

function ensurePath {
    newPath=$1
    if ! cat /etc/paths.d/200-{{ .chezmoi.username }} | grep "$newPath" >> /dev/null; then
        echo -n "Adding new path: "
        echo $newPath | sudo tee -a /etc/paths.d/200-{{ .chezmoi.username }}
    fi
}

[ -f "/etc/paths.d/200-{{ .chezmoi.username }}" ] || sudo touch /etc/paths.d/200-{{ .chezmoi.username }}

{{ if eq .chezmoi.arch "arm64" }}
ensurePath {{ output "/opt/homebrew/bin/brew" "--prefix" | trim }}/bin
{{ end }}
{{ if eq .chezmoi.arch "amd64" }}
ensurePath {{ output "/usr/local/bin/brew" "--prefix" | trim }}/bin
{{ end }}

ensurePath {{ .chezmoi.homeDir }}/bin
