#!/bin/zsh
# This script will be run on first install and any time the LaunchAgent is changed.
# LaunchAgent hash: {{ include "private_Library/LaunchAgents/com.homebrew.ssh-agent.plist.tmpl" | sha256sum }}

# Credit: https://gist.github.com/lmb/e4448973daf99f0cc4a182a4e1811f93

# First, make sure the system ssh-agent is disabled.
if ! launchctl print gui/$UID/com.openssh.ssh-agent | grep "not running" > /dev/null; then
	echo "Disabling system ssh-agent"
	launchctl disable gui/$UID/com.openssh.ssh-agent
fi

# Next, make sure all running ssh-agent processes are stopped.
echo "Stopping ssh-agent"
killall ssh-agent

# If the service has been bootstrapped, tear it down so that it can be re-done
if launchctl print gui/$UID/com.homebrew.ssh-agent > /dev/null; then
	echo "Tearing down ssh-agent service so it can be re-added"
	launchctl bootout gui/$UID/com.homebrew.ssh-agent
fi

## The stuff below probably shouldn't live here, but it's here for now.

# Make sure old keys are not present on disk.
if [ -f ~/.ssh/id_rsa ]; then
	echo "Removing old ssh private key"
	rm ~/.ssh/id_rsa
fi
if [ -f ~/.ssh/id_rsa.pub ]; then
	echo "Removing old ssh public key"
	rm ~/.ssh/id_rsa.pub
fi

# Remove some unneeded dependencies.
brew uninstall opensc || true
brew uninstall yubico-piv-tool || true
