#!/bin/zsh
# This script will be run on first install and any time the LaunchAgent is changed.
# LaunchAgent hash: {{ include "private_Library/LaunchAgents/com.homebrew.ssh-agent.plist.tmpl" | sha256sum }}

# Credit: https://gist.github.com/lmb/e4448973daf99f0cc4a182a4e1811f93

# First, make sure the system ssh-agent is disabled.
if ! launchctl print gui/$UID/com.openssh.ssh-agent | grep "not running" > /dev/null; then
	echo "Disabling system ssh-agent"
	launchctl disable gui/$UID/com.openssh.ssh-agent
fi

# Next, make sure all running ssh-agent processes are stopped.
echo "Stopping ssh-agent"
killall ssh-agent

# If the service has been bootstrapped, tear it down so that it can be re-done
if launchctl print gui/$UID/com.homebrew.ssh-agent > /dev/null; then
	echo "Tearing down ssh-agent service so it can be re-added"
	launchctl bootout gui/$UID/com.homebrew.ssh-agent
fi

# If the service hasn't been bootstrapped, do that.
if ! launchctl print gui/$UID/com.homebrew.ssh-agent > /dev/null; then
	echo "Bootstrapping Homebrew ssh-agent service"
	pushd ~/Library/LaunchAgents > /dev/null
		launchctl bootstrap gui/$UID com.homebrew.ssh-agent.plist
	popd
fi

# Restart the service (just to make sure things are appropriately picked up)
launchctl stop com.homebrew.ssh-agent
launchctl start com.homebrew.ssh-agent
