[user]
email = {{ .email }}
name = Cameron Eagans
signingkey = "key::ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJzYuWMD/bf+ZvMLM47oeW2Z1tBZu5QK4Z9jpOkeDCORMy2UaoQCV89JBVcpCrTD3sYYJWirep2d3vFRTTNSRwQ= PIV AUTH pubkey"

[github]
user = {{ .github_username }}

[gpg]
format = ssh

[gpg "ssh"]
allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[core]
ignorecase = false
compression = 9
excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore
pager = less -FRSX
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[init]
defaultBranch = main

[branch]
autosetuprebase = always

[diff]
algorithm = patience
tool = default-difftool

[commit]
gpgsign = true

[push]
default = current

[apply]
whitespace = nowarn

[rebase]
autostash = true

[tag]
gpgsign = true

[color "interactive"]
error = red bold

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
frag = magenta
meta = yellow
new = green
old = red
whitespace = white reverse

[color "status"]
added = yellow
branch = magenta
changed = green
untracked = cyan

[gitflow "branch"]
master = main
develop = develop

[gitflow "prefix"]
feature = feature-
release = release-
hotfix = hotfix-
support = support-
versiontag = v

[ghq]
root = {{ .chezmoi.homeDir }}/Code

[ghq "gitea.internal.cweagans.net"]
vcs = git

[advice]
addEmptyPathspec = false
statusHints = false
