[advice]
addEmptyPathspec = false
statusHints = false

[apply]
whitespace = nowarn

[alias]
cs = commit -s
tag = tag -s

[branch]
autoSetupRebase = always
sort = -committerdate

[color]
ui = auto

[color "branch"]
current = cyan bold reverse
local = white
plain =
remote = cyan

[color "diff"]
commit =
func = cyan
plain =
whitespace = magenta reverse
meta = white
frag = cyan bold reverse
old = red
new = green

[color "grep"]
context =
filename =
function =
linenumber = white
match =
selected =
separator =

[color "interactive"]
error =
header =
help =
prompt =

[color "status"]
added = green
changed = yellow
header =
localBranch =
nobranch =
remoteBranch = cyan bold
unmerged = magenta bold reverse
untracked = red
updated = green bold

[commit]
cleanup = scissors
gpgsign = true
verbose = true

[core]
compression = 9
ignorecase = false
pager = delta
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential
{{- end }}

[delta]
features = unobtrusive-line-numbers my-nord
navigate = true
side-by-side = true
syntax-theme = Catppuccin-mocha

[delta "my-nord"]
blame-palette = "#2E3440" "#3B4252" "#434C5E" "#4C566A"
blame-format = "{timestamp:<15} {author:<15.14} {commit:<8} "
blame-separator-format = "│ {n:>4} │"
dark = true
hunk-header-style = omit
hyperlinks = true
line-numbers = true
line-numbers-left-format = " {nm:>4} │"
line-numbers-right-format = " {np:>4} │"
syntax-theme = Nord
zero-style = dim syntax

[diff]
algorithm = histogram
context = 10
colorMoved = default
colorMovedWS = allow-indentation-change

[fetch]
fsckobjects = true
prune = true
prunetags = true

[ghq]
root = {{ .chezmoi.homeDir }}/Developer

[ghq "gitea.internal.cweagans.net"]
vcs = git

[gitflow "branch"]
master = main
develop = develop

[gitflow "prefix"]
feature = feature-
hotfix = hotfix-
release = release-
support = support-
versiontag = v

[github]
user = {{ .github_username }}

[gpg]
format = ssh

[gpg "ssh"]
allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[init]
defaultBranch = main

[interactive]
diffFilter = delta --color-only

[log]
date = iso

[merge]
conflictstyle = zdiff3
keepbackup = false

[pager]
branch = false
grep = false

[pull]
rebase = true

[push]
default = current
followTags = true

[rebase]
autostash = true
missingCommitsCheck = error

[receive]
fsckobjects = true

[rerere]
enabled = true

[status]
submoduleSummary = true

[transfer]
fsckobjects = true

[tag]
gpgsign = true

{{ if eq .mode "personal" }}
[url "ssh://git@gitea.internal.cweagans.net:2222"]
insteadOf = https://gitea.internal.cweagans.net
{{ end }}
{{ if eq .mode "work" }}
[url "git@github.com:hashgraph"]
insteadOf = https://github.com/hashgraph
[url "git@github.com:swirlds"]
insteadOf = https://github.com/swirlds
[url "git@github.com:swirldslabs"]
insteadOf = https://github.com/swirldslabs
{{ end }}

[user]
email = {{ .email }}
name = Cameron Eagans
signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGr2cDfG36H8g3vAQJhu9G7l+fKasiiBtNMIBzWYiwsq"
