@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * Hide tab bar on macOS.
 *
 * From https://github.com/Timvde/UserChrome-Tweaks/commit/548d45900c340ed18a961d7642bb561677c286a9#diff-97099d0c351ecaaf30ddcb45b802d3d0
 */
#TabsToolbar {
  height: 22px !important;
  visibility: collapse;
}

.tabbrowser-tabs {
  height: 22px !important;
  visibility: collapse;
}

#tabbrowser-tabs {
  visibility: collapse;
  height: 22px !important;
}

#nav-bar{
  border-top-width: 0px !important;
}

/* Position window controls */
#titlebar-buttonbox-container {
  margin-left: 5px !important;
  margin-top: 5px !important;
}

/*
 * Make room for window controls.
 * Only apply this style when not in fullscreen mode.
 */
#main-window:not([inFullscreen]) #nav-bar{
  padding: 0px 5px 0px 75px !important;
}

