<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.cweagans.snippets</string>
	<key>connections</key>
	<dict>
		<key>2096338D-075D-46B4-B0E4-08C7081DA60A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A376916C-0E35-4AE1-A70C-836D9FA51338</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CC51F6A-8067-4CAC-AD88-A9F6FFC6C0D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D19CB6B2-B293-4A2F-BCF5-07EDA06BD7C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A376916C-0E35-4AE1-A70C-836D9FA51338</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D629565A-44D9-4DA5-86D9-30E064EAC937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C59832C2-4935-487D-B08B-04B34D3155D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D629565A-44D9-4DA5-86D9-30E064EAC937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D19CB6B2-B293-4A2F-BCF5-07EDA06BD7C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D629565A-44D9-4DA5-86D9-30E064EAC937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3FA7927-8385-41E2-AE3F-6AE80DE197B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C59832C2-4935-487D-B08B-04B34D3155D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cameron Eagans</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>My dynamic snippets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>uuid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>E3FA7927-8385-41E2-AE3F-6AE80DE197B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string> {query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D629565A-44D9-4DA5-86D9-30E064EAC937</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.random</string>
			<key>uid</key>
			<string>C59832C2-4935-487D-B08B-04B34D3155D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>ip</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>2096338D-075D-46B4-B0E4-08C7081DA60A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl https://ifconfig.me</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A376916C-0E35-4AE1-A70C-836D9FA51338</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "$(date +%s)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D19CB6B2-B293-4A2F-BCF5-07EDA06BD7C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>unixtime</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>3CC51F6A-8067-4CAC-AD88-A9F6FFC6C0D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2096338D-075D-46B4-B0E4-08C7081DA60A</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>3CC51F6A-8067-4CAC-AD88-A9F6FFC6C0D8</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>A376916C-0E35-4AE1-A70C-836D9FA51338</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>C59832C2-4935-487D-B08B-04B34D3155D1</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D19CB6B2-B293-4A2F-BCF5-07EDA06BD7C9</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>D629565A-44D9-4DA5-86D9-30E064EAC937</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>E3FA7927-8385-41E2-AE3F-6AE80DE197B3</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://www.cweagans.net</string>
</dict>
</plist>
