<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scope</key>
	<array>
		<string>/Developer/Applications</string>
		<string>/opt/homebrew/Cellar</string>
		<string>/System/Library/CoreServices/Applications</string>
		<string>/usr/local/Cellar</string>
		<string>~/Library/Caches/Metadata</string>
		<string>~/Library/CloudStorage</string>
		<string>~/Library/Mobile Documents</string>
	</array>
</dict>
</plist>
