/* Hide "Tree Style Tabs" sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display:none;
}

/**
 * Hide tabs at top of window on macos.
 */
#TabsToolbar {
  visibility: collapse;
}
.titlebar-buttonbox-container {
  position: absolute;
  visibility: visible;
  margin-left: 5px;
  margin-top: 5px;
}
#main-window:not([inFullscreen]) #nav-bar{
  padding: 0px 5px 0px 105px !important;
}

