[Desktop Entry]
Version=1.0
Type=Application
Exec=epiphany --application-mode=todoist.desktop https://en.todoist.com/app
Icon=/home/cweagans/.local/share/icons/todoist.png
StartupNotify=true
StartupWMClass=todoist
Terminal=false
Name=Todoist
Command=A simple, fast todo list.
