@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**
 * Most of these are sourced from https://github.com/Timvde/UserChrome-Tweaks.
 */

/*
 * Hide tab bar.
 */
 #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}

#nav-bar {
  margin-top: -40px;
  margin-right: 140px;
  box-shadow: none !important;
}

#main-window[privatebrowsingmode="temporary"] #nav-bar {
  margin-right: 180px;
}

[uidensity="compact"]:root #nav-bar {
  margin-top: -32px;
}

:not([uidensity="compact"]):root .titlebar-buttonbox-container {
  height: 38px !important;
}

.titlebar-color {
  background-color: var(--toolbar-bgcolor) !important;
}

/*
 * Make room for window controls.
 * Only apply this style when not in fullscreen mode.
 */
#main-window:not([inFullscreen]) #nav-bar{
  padding: 0px 5px 0px 75px !important;
}

/**
 * Hide sidebar header
 *
 * From https://github.com/Timvde/UserChrome-Tweaks/commit/0b2b15817d95f4b391f50142e981bdc2972bef25#diff-41fa16080dd94a479266ac9ad2cb41fd
 */
#sidebar-header {
  display: none;
}
